html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;

    background-color: darkslategray;
}

.person {
    display: flex;

    align-items: center;
}

.person > img {
    border-radius: 50%;
}

.project {
    display: flex;
    flex-direction: column;

    width: 80vh;

    color: whitesmoke;
    /*background-color: gray;*/
    text-decoration: none;

    margin: 2%;
    padding: 2%;
    /*border-radius: 2%;*/
}

.project > img {
    width: 100%;
}

.title,
.project > p {
    background-color: black;
    padding: 1.5%;
}

.project > p {
    margin: 0;
    border-radius: 0 0 20px 20px;
}

.title {
    font-size: larger;
    text-align: center;

    border-radius: 20px 20px 0 0;
}